Django>=5.0.2
django-ninja>=1.1.0
django-ninja-extra>=0.31.0
django-ninja-jwt>=5.4.4
pydantic>=2.6.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
Pillow
django-cors-headers
pytest
pytest-django
gunicorn==21.2.0
uvicorn[standard]==0.27.1
pre-commit==3.3.3
